@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* p {
  color: rgb(85, 85, 85);
} */


.light {
  /* light theme styles */
  background-color: white !important;
  color: black !important;
}

.dark {
  /* dark theme styles */
  background-color: black !important;
  color: white !important;
}
